.edit-contract-form input.form-control {
    width: 100%;
    margin-bottom: 1rem;
}

select.filter-control.contract-edit {
    width: 100%;
    margin-bottom: 1rem;
}

textarea.form-control {
    border-radius: 30px;
    border: 1px solid #e6e6e6;
    padding: 16px 8px;
    height: 200px;
    margin-bottom: 1rem;
    width: 100%;
}

textarea.form-control:focus {
    outline: #d7d7d7;
    border-color: #d7d7d7;
    box-shadow: none;
}

.image-upload {
    margin-top: 1rem;
}

input[type="file"]::file-selector-button {
    padding-top: 10px;
    height: 46px;
}