.auth-form {
    background-color: #f8f9fa;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

body.auth-page {
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.auth-form input {
    margin-bottom: 1rem;
    width: 100% !important;
}

.auth-form h2 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.form-control {
    border-color: #ced4da;
}

.form-control:focus {
    border-color: #428d3a;
    box-shadow: 0 0 0 0.2rem rgba(66, 141, 58, 0.25);
}

.auth-form button {
    width: 100%;
}

.auth-form span {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 0.8rem;
    color: #6c757d;
}
