.contract-card {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 64px;
}

.image.mobile {
    display: none;
}

.image.all {
    display: block;
}

.image {
    display: block;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    aspect-ratio: 1;
    background: #e6e6e6;
    padding: 32px;
}

.description-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 12px;
}

.cart-column .title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 12px;
}


.contract-badge {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.description {
    font-size: 19px;
    margin-bottom: 16px;
    font-weight: 400;
}

.contract-badge .description {
    font-size: 13px;
    color: #2626268c;
}

.digit {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 8px;
}

.buttons-row {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}

.card-button {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: color .2s linear;
}

a {
    text-decoration: none;
}

.card-button.primary {
    background-color: #428D3A;
    border: 0;
    color: white;
    padding: 16px 32px;
    border-radius: 12px;
}

.card-button.primary:active {
    background-color: #30652a;
}


.card-button.secondary {
    padding: 16px 0;
    color: #262626C0;
}

.card-button.secondary:hover {
    color: #262626EC;
}


@media (max-width: 460px) {
    .contract-card {
        flex-direction: column;
        gap: 16px;
    }

    .title {
        font-size: 24px;
    }

    .image {
        display: none;
    }

    .image.mobile {
        display: block !important;
        margin: auto;
    }

    .contract-badge {
        margin-bottom: 8px !important;
    }

    .buttons-row {
        width: 100%;
    }

    .buttons-row > form, a {
        display: flex;
        flex: 1;
    }

    .card-button {
        width: 100%;
    }
}