@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: #000000;
}

body {
    background: white;
}

main {
    width: 60%;
    margin: 24px auto;
}

@media (max-width: 460px) {
    main {
        width: 90%;
    }
}

a {
    text-decoration: none;
}

.button-primary {
    background-color: #428d3a;
    border: 0;
    color: white;
    padding: 16px 32px;
    border-radius: 12px;
}

.button-primary:active {
    background-color: #346e2d !important;
}

.button-compact {
    padding: 8px 16px;
    border-radius: 12px;
}

.button-primary:active {
    background-color: #30652a;
}

.button-secondary {
    color: rgba(79, 79, 79, 0.75);
}

.button-secondary:hover {
    color: rgba(9, 9, 9, 0.93);
}
